{% extends 'base.html'%}
{% block content%}

<section class="drop-down-boxes">
    <h2>Book Member Onto Lesson</h2>
        <div class="drop-down-box">
            <form action="/members"></form>
            <select name="member" id="member">
            <option value="member">Choose a member</option>
            <option value=""></option>
            </select>
        </div>
        <div class="drop-down-box">
            <form action="/lessons"></form>
            <select name="lesson" id="lesson">
            <option value="lesson">Choose a lesson</option>
            <option value=""></option>
            </select>
        </div>
        <div class="drop-down-box">
            <input type="submit" value="Submit">
        </div>
</section>


<h1 class="lesson-title" >Lessons</h1>
<section>
    <table>
        <tr>
                <th>Name</th>
                <th></th>
                <th>Time</th>
                <th></th>
                <th>Date</th>
        </tr>
        {% for lesson in gym_classes %}
        <tr>
            <td><a href="/lessons/{{ lesson.id }}"> {{lesson.name | capitalize}} </a></td>
            <td>|</td>
            <td><a></a> {{lesson.time}} </a></td>
            <td>|</td>
            <td><a> {{lesson.date}} </a><a href="/lessons/{{ lesson.id }}/update">
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock%}
