{% extends 'base.html'%}
{% block content%}

<section class="drop-down-boxes">
    <h2 class="booking-text">Book Member Onto Class</h2>
        <div class="drop-down-box">
            <form action="/bookings" method = "POST">
                <select name="member" id="member">
                    <option value="" disabled selected hidden>Select a member</option>
                    <option value="member"> </option>
                    {% for member in members %}
                    <option value="{{member.id}}"> {{member.first_name}} </option>
                    {% endfor %}
                </select>
                <select name="lesson" id="lesson">
                    <option value="lesson" disabled selected hidden>Choose a class</option>
                    {% for lesson in lessons %}
                    <option value="{{lesson.id}}"> {{lesson.name}} </option>
                    {% endfor %}
                </select>
        </div>
                <div class="drop-down-box">
                    <input type="submit" value="Submit">
                </div>
            </form>
</section>

<h1 class="lesson-title" >Classes</h1>
<section>
    <table class="main-page-table">
                <th>Name</th>
                <th></th>
                <th>Time</th>
                <th></th>
                <th>Date</th>
            {% for lesson in lessons %}
            <tr>
            <td><a> {{lesson.name | capitalize}} </a></td>
            <td>|</td>
            <td><a> {{lesson.time}} </a></td>
            <td>|</td>
            <td><a> {{lesson.date}} </a><a href="/lessons/{{ lesson.id }}/update"></td>
            </tr>
            {% endfor %}
    </table>
</section>


{% endblock%}
