{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/lessons_page.css') }}">

<!-- adding a lesson -->
<section class = "add-a-lesson">
    <h1>Add Lesson</h1>
        <form class="form-inline" action="/lessons" method="post">
        <label for="name">Lesson Name</label>
        <input type="text" name="name", id="name">
        <label for="time">Time</label>
        <input type="time" name="time", id="time">
        <label for="date">Date</label>
        <input type="date" name="date", id="date">
        <input type="submit" value="Add Lesson">
        </form>
</section>
<!-- adding a lesson -->

<br><br><br>

<!-- list of lessons -->
<div class="lesson-data">
    <h1>Lessons</h1>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Time</th>
            <th></th>
            <th>Date</th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td><a href="/lessons/{{ lesson.id }}"> {{lesson.name | capitalize}} </a></td>
            <td>|</td>
            <td><a></a> {{lesson.time}} </a></td>
            <td>|</td>
            <td><a> {{lesson.date}} </a><a href="/lessons/{{ lesson.id }}/update"><input type="button" value="Edit" ></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}