{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/lessons_page.css') }}">

<!-- adding a lesson/class -->
<section class = "add-a-lesson">
    <h1>Add Class</h1>
        <form class="form-inline" action="/lessons" method="post">
            <label for="name">Classes Name</label>
            <input type="text" name="name", id="name">
            <label for="time">Time</label>
            <input type="time" name="time", id="time">
            <label for="date">Date</label>
            <input type="date" name="date", id="date">
            <input type="submit" value="Add Lesson">
        </form>
</section>
<!-- adding a lesson -->

<br><br><br>

<!-- list of lessons -->
<div>
    <img class="spider-man-hanging" src="static/images/spider-man-hanging.png" alt="spider-man-hanging">
    <h1 class="lesson-header">Classes</h1>
    <table class="lesson-table">
        <tr>
            <th>Name</th>
            <th></th>
            <th>Time</th>
            <th></th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td><a> {{lesson.name | capitalize}} </a></td>
            <td>|</td>
            <td><a></a> {{lesson.time}} </a></td>
            <td>|</td>
            <td><a> {{lesson.date}} </a>
            <td><a href="/lessons/{{ lesson.id }}/update"><input class="edit-button" type="button" value="Edit" ></a></td>
            <form action="/lessons/{{ lesson.id }}/delete" method="POST">
            <td><input class="delete-button" type="submit" value="delete" /></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}