
<h1>Update Lesson</h1>


<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</div>

<div>
        <p> You are updating details for Lesson {{ lesson.name | capitalize}} </p>
        <form class="form-inline" action="/lessons/{{ lesson.id }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name", id="name" value= {{lesson.name}}>
        <label for="time">Time</label>
        <input type="time" name="time", id="time" value= {{lesson.time}}>
        <label for="date">Time</label>
        <input type="date" name="date", id="'date" value= {{lesson.date}}>
        <input type="submit" value="Update Lesson">
        </form>
</div>