<body class="update-page">
    

<h1 class="update-heading">Update Classes</h1>

<link rel="stylesheet" href="{{ url_for('static', filename='css/lessons_page.css') }}">


<div>
    <ul>
        <li>
            <a href="/lessons">Back to Classes</a>
        </li>
    </ul>
</div>

<div>
        <p class="update-class-line"> You are updating details for Class  ->  {{ lesson.name | capitalize}} </p>
        <form class="form-inline" action="/lessons/{{ lesson.id }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name", id="name" value= {{lesson.name}}>
        <label for="time">Time</label>
        <input type="time" name="time", id="time" value= {{lesson.time}}>
        <label for="date">Time</label>
        <input type="date" name="date", id="'date" value= {{lesson.date}}>
        <input type="submit" value="Update Lesson">
        </form>
</div>

</body>