.bookings-header {
    padding-left: 630px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 40px;
}
.button-delete {
    color: black;
    border: 4px solid #BC243C;
}

.bookings-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.0em;
    min-width: 1290px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 60px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bolder;
}

.bookings-table tr th {
    background-color: #BC243C;
    color: white;
    text-align: left;
    font-weight: bold;
}

.bookings-table th {
    padding: 12px 15px;
}

.bookings-table td {
    padding: 12px 15px;
}

.bookings-table tbody tr {
    border-bottom: 1px solid #363945;
}

.bookings-table tbody tr:nth-of-type(even){
    background-color: #BCBCBE;
}

.bookings-table tbody tr:nth-last-of-type () {
    background-color: 20px solid  #BC243C;
}
