.main-title {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-decoration: none;
    color: #363945;
    border: #CD212A 0.5em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

}

.home-link:hover {
    background-color: #363945;
    border-radius: 50px;
}

.lessons-link:hover {
    background-color: #363945;
    border-radius: 50px;
}

.members-link:hover {
    background-color: #363945;
    border-radius: 50px;
}

nav {
    text-align: center;
    margin: 0 2px ;
    padding: 0;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    }

nav div  {
    word-spacing: 290px;
}
    
nav ul{
    list-style: none;
    margin: 2px;
    padding: 0;
    }
    
nav li {
    display: inline-block;
    padding: 5px 5px;
    }
    
nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .60em;
    margin-left: 20px;
    }
    
/* search boxes are below */

.drop-down-boxes {
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
}

.drop-down-box {
    margin-left: 50px;
    margin-top: 25px;
}

.lesson-title {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363945;
}


.table {
    margin-left: 70px;
    border: 20px groove #BC243C;
    width: 1300px;
    height: 600px;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    padding-left: 100px;
    border-radius: 20px;
    background-color: #363945;

}






































footer {
    margin-top: 200px;
    height: 200px;
    background-color: #363945;
}

footer h4 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 150px;
    color: white;
}
